<div class="jumbotron fluid">
  <div class="logo">
    <%= image_tag("hacking-project.png", class: "img-fluid") %>
  </div>
  <div class="container">
    <h1 class="display-4">THP</h1>
    <p class="lead">
      <h2>Une formation qui, en 3 mois, à plein temps, vous apportera des connaissances actionnables pour vous permettre de voir plus loin à votre entreprise.</h2>
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Pourquoi THP ?</h3>
    <p>
      <ul>
        <li>La communauté comme professeur
          800 personnes sont prêtes à vous soutenir !</li>
        <li>Nous sommes présents dans les 12 plus grandes villes française</li>
        <li>rendre votre entreprise compétitive</li>
        <li>Une formation gratuite
          <li />
      </ul>
    </p>
  </div>
  <div class="col">
    <h3>Comment ?</h3>
    <p> Chez nous, pas de professeurs, pas de locaux,une formation sur-mesure à vos besoins.
      Une communauté soudée
      Vous appartenez à une nouvelle famille pendant votre formation
      Chez THP, vous travaillerez dur pour atteindre les objectifs que l'on vous fixera. Certains jours vous pourrez experimenter des journées de 14 heures de travail. Pour tenir le rythme le groupe auquel vous appartiendrez devra être soudé et l'entre-aide sera de rigueur !
      Nous croyons dur comme fer que seul on va plus vite, ensemble on va plus loin. Vous devrez donc vous retrouver quotidienement avec votre groupe pour travailler toute la journée ensemble.</p>
  </div>
  <div class="w-100"></div>
  <div class="row">
    <div class="col">
      <%= image_tag("groupe.jpg", :class =>"img-fluid") %>
    </div>
  </div>
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <div id="mc_embed_signup">
    <form action="https://thehackingproject.us19.list-manage.com/subscribe/post?u=0ed1235f1d09adb49d0b8a175&amp;id=a77f5c63a8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Abonne-toi à la newsletter</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0ed1235f1d09adb49d0b8a175_a77f5c63a8" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
    </form>
  </div>
</div>
