<div class="d-flex">
  <div class="card mx-auto" style="max-width: 500px; margin-top: 2rem;">
   <div class="card-header">
    Contact us on Slack
  </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          @Crysicia<br>
          @Simon
        </p>
      </blockquote>
    </div>
  </div>
</div>
