<h1 class="text-center">The team</h1>
<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <img class="card-img-top" src="https://github.com/Crysicia.png" alt="Crysicia Github profile picture">
      <div class="card-body">
        <p class="card-text">@Crysicia, lead front-end developer</p>
      </div>
    </div>
  </div>
  <div class="col d-flex justify-content-center">

    <div class="card">
      <img class="card-img-top" src="https://github.com/ssimonlp.png" alt="ssimonlp Github profile picture">
      <div class="card-body">
        <p class="card-text">@ssimonlp, lead back-end developer</p>
      </div>
    </div>
  </div>
</div>
