.card {
  width: 300px;
  //border: 1px solid black;
  font-family: sans-serif;
}

.card-avatar {
  margin-top: 5px;
  margin-left: 50px;
}

.card-body {
  margin: 0 auto;
  width: 80%;
}

.card-body > * {
  margin: 5px;
}

.card-category {
  text-align: center;
  font-weight: thin;
  
}

.card-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.card-content {
  font-size: 0.9em;
}
