<button class="btn-blue">Über-button</button>
<button class="btn-blue">LONG BUTTON OF THE DEAD YANNOW</button>

<img src="" alt="" class="avatar">
<div class="card">
  <img src="" alt="">
  <p></p>
</div>