// Place all the styles related to the template controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron
{
     color: #000;
      height: 85vh;
       background-color: #fff !important;    
            background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
}
.display-4{

}
.logo{

}
.container{

}
.lead{

}
.row
{

}
.col-pourquoi{

}
.col-Comment{

}
.col-1{

}
